<% content_for :title do %>
 Add a new user
<% end %>
<h1>New Users</h1>

<% if flash[:error_messages] %>
	<% flash[:error_messages].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% else %>
	<p><%= flash[:success_message] %></p>
<% end %>

<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="user[first_name]" placeholder="First name">
	<input type="text" name="user[last_name]" placeholder="Last name">
	<input type="text" name="user[email_address]" placeholder="Email">
	<input type="password" name="user[password]" placeholder="Password">
	<input type="submit" value="Submit a User">
</form>