// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body{
	color:green;
}
h1{
	font-size:25px;
}
a{
	float:left;
	clear:both;
}
input{
	float:left;
	clear:both;
}
td:nth-child(n+4){
	width:20px;
}
td:last-child{
	margin-right:10px;
}